.waitingPlayer {
  background-color: gray;
}

.activePlayer {
  background-color: green;
}

.activePlayer .hand .selectable.card {
  background-color: yellow;
  cursor: pointer;
}

.activePlayer .hand .selectable.card:hover {
  background-color: cyan;
}

.waitingPlayer .hand .card  {
  background-color: lightyellow;
}

.selectedCard {
  background-color: mediumpurple !important;
}

.noCardSelected .destination {
  display: none;
}
.cardSelected .destination {
  background-color: yellow;
}

.cardSelected .jacksAndQueens, .cardSelected .destination {
  min-width: 100px;
  display: inline-block;
}

.jackOrQueenSelected .jacksAndQueens {
  background-color: yellow;
}

.card {
  border: black 1px solid;
  border-radius: 4px;
}
